/* src/components/Sidebar/Sidebar.css */

.sidebar-container {
  position: relative;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 1rem;
}

.sidebar--main--container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  transition: transform 0.3s ease-in-out;
}

.sidebar-item-box {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  padding: 0.8rem 1rem 0.8rem 2rem;
  margin: 0.25rem;
  width: 14rem;
  border-radius: 0 1.5rem 1.5rem 0;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-item-box div:nth-child(2) {
  color: white;
  font-size: 1rem;
  width: 50%;
  margin: auto 1rem;
  font-weight: 500;
}

.sidebar-item-box:hover {
  background-color: #41331c;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }

  .sidebar--main--container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #222;
    z-index: 1000;
    transform: translateX(-100%);
    width: 16rem;
  }

  .sidebar--main--container.open {
    transform: translateX(0%);
  }

  .sidebar-item-box {
    gap: 0.5rem;
    padding: 1rem;
    font-size: 0.9rem;
  }

  .sidebar-item-box span {
    font-size: 1.2rem;
  }
}
